$main-font: 'oswald-regular', sans-serif;

$rem-fallback: true;

$screen-lg: 992px;
$max-screen-md: 991px;

$chicago: #5d5a57;
$white: #fff;
$sandal: #a99269;

$first-color: $white;
$second-color: $chicago;
$third-color: $sandal;
