.hamburger {
    @media all and (min-width: $screen-md) {
        display: none !important;
    }

    @media all and (max-width: $max-screen-sm) {
        display: block;
    }
}

.navigation {
    @media all and (min-width: $screen-md) {
        display: block;
    }

    @media all and (max-width: $max-screen-sm) {
        display: none;
    }

    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: $first-color;

    &__list {
        @include rem(padding, 0 20px);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--sub {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__link {
        @include rem((
            padding: 18px 9px,
            font-size: 15px
        ));

        font-family: $main-font;
        font-weight: 400;
        color: $second-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .5s ease;

        &:hover {
            color: $third-color;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: color .5s ease, overflow .5s ease;

        & > .sublevel-1 {
            height: 0;
            opacity: 0;
            transition: opacity .5s ease, height .5s ease;
        }

        &:hover {
            overflow: unset;

            & > .sublevel-1 {
                @include rem(width, 288px);

                position: absolute;
                top: 100%;
                display: flex;
                height: auto;
                background-color: $second-color;
                box-shadow: 3px 4px 16px $box-shadow-sublevel-1;
                opacity: 1;

                & .navigation__link {
                    color: $first-color;
                }
            }

            & > .navigation__link {
                color: $third-color;
            }
        }

        &.active {
            & > .navigation__link {
                color: $third-color;
            }
        }

        &.has-child {}
    }
}
