.navigation {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: $first-color;
    transition: box-shadow .5s ease;

    &:hover {
        box-shadow: 0 0 3px $box-shadow-navigation-hover;
    }

    &__list {
        @include rem(padding, 0 20px);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--sub {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__link {
        @include rem((
            padding: 18px 9px,
            font-size: 15px
        ));

        font-family: $main-font;
        color: $second-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .5s ease;

        &:hover {
            color: $third-color;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: color .5s ease, overflow .5s ease;

        &.has-child {
            position: relative;

            & > .navigation__link {
                @include rem(padding-right, 28px);
            }

            & .has-child {
                @include rem(padding-right, 51px);
            }

            &::before {
                @include rem((
                    border-width: 8px 5px 0 5px,
                    right: 9px
                ));

                position: absolute;
                top: 40%;
                display: inline-block;
                width: 0;
                height: 0;
                cursor: pointer;
                content: "";
                border-color: $third-color transparent transparent transparent;
                border-style: solid;
            }
        }

        & > .sublevel-1 {
            opacity: 0;
            transition: opacity .5s ease, box-shadow .5s ease;
            // transition: transform .5s ease;
            // transform: translateY(-100%);

            & .navigation__item {
                &::after {
                    display: none;
                }
            }

            & .navigation__link {
                @include rem(padding-left, 27px);

                display: none;
                transition: background-color .5s ease;

                &:hover {
                    background-color: $third-color;
                }
            }

            & .has-child {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    font-family: 'Font Awesome 5 Free';
                    font-style: normal;
                    font-weight: 900;
                    font-variant: normal;
                    line-height: 1;
                    color: $first-color;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    content: "\f068";
                    text-rendering: auto;
                    border: 0;
                    transition: content .5s ease, background-color .5s ease;
                }

                & .sublevel-2 {
                    height: 0;
                    opacity: 0;
                    transition: opacity .5s ease, height .5s ease;

                    & .navigation__link {
                        display: none;
                    }
                }

                &:hover {
                    &::before {
                        content: "\f067";
                        background-color: $third-color;
                    }

                    & .sublevel-2 {
                        @include rem(width, 288px);

                        display: flex;
                        height: auto;
                        background-color: transparent;
                        opacity: 1;

                        & .navigation__link {
                            display: flex;
                        }
                    }
                }
            }
        }

        &:hover, &.active {
            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 3px;
                margin: 0 auto;
                content: '';
                background-color: $third-color;
                animation: line .5s ease;

                @keyframes line {
                    0% {
                        width: 0;
                        opacity: 0;
                    }

                    100% {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            & > .sublevel-1 {
                @include rem(width, 288px);

                position: absolute;
                top: 100%;
                display: flex;
                background-color: $background-color-sublevel;
                box-shadow: 3px 4px 16px $box-shadow-sublevel-hover;
                opacity: 1;
                // transform: translateY(0);

                & .navigation__link {
                    display: flex;
                    color: $first-color;
                }

                & .has-child {
                    &::before {
                        @include rem((
                            padding: 18px 18px 17px,
                            width: 15px,
                            height: 16px,
                            font-size: 16px
                        ));
                    }
                }
            }

            & > .navigation__link {
                color: $third-color;
            }
        }

        &.active {
            & > .navigation__link {
                color: $third-color;
            }
        }
    }
}
