@media all and (min-width: $screen-md) {
    .hamburger {
        display: none !important;
    }

    .navigation {
        display: block;

        &.has-child {
            &::before {
                display: inline-block;
            }
        }
    }
}
